.loader {
  width: 20vw;
  height: 20vw;
  position: relative;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6vw;
  height: 6vw;
  transform: rotate(45deg) translate(30%, 40%);
  background: #87a2ff;
  box-shadow: 6vw -6.8vw 0 1vw #001f3f;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 2vw;
  top: 2vw;
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 50%;
  background: #001f3f;
  transform: rotate(0deg);
  transform-origin: 7vw 29vw;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -7vw;
  }

  25%,
  75% {
    bottom: -0.4vw;
  }

  20%,
  80% {
    bottom: 0.4vw;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}
